<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/caff01fe-06ee-4ad1-8b31-f19e7596c73f/resourcegroups/CornerStoneApril3020180726112028ResourceGroup/providers/Microsoft.Web/sites/CornerStoneApril3020180801052833</ResourceId>
    <ResourceGroup>CornerStoneApril3020180726112028ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cornerstoneapril3020180801052833.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>8720e752-178d-43e4-b108-9fe7ba02d24c</ProjectGuid>
    <MSDeployServiceURL>cornerstoneapril3020180801052833.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CornerStoneApril3020180801052833</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CornerStoneApril3020180801052833</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableMSDeployAppOffline>true</EnableMSDeployAppOffline>
    <TargetFramework>netcoreapp2.0</TargetFramework>
  </PropertyGroup>
</Project>